Tratar dados 'tempo.csv'
Aparencia: sol,nublado,chuva
temperatura: -130 até 130F
Umidade: 0 ~ 100
Jogar: sim/nao

Tratar valores NAs

In [1]:
import pandas as pd
import seaborn as sbn
import statistics as sts

In [2]:
df_tempo = pd.read_csv("tempo.csv",sep=";")
df_tempo.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

Numericas = Temperatura, umidade
categoricas = Aparencia, Vento, Jogar

In [7]:
#primeiro identificar se há NAs
df_tempo.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [3]:
df_tempo.shape

(14, 5)

In [8]:
agrupado = df_tempo['Aparencia'].groupby(df_tempo['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
Name: Aparencia, dtype: int64

In [10]:
df_tempo.loc[df_tempo['Aparencia'] == 'menos','Aparencia'] = 'sol'
agrupado = df_tempo['Aparencia'].groupby(df_tempo['Aparencia']).size()
agrupado

Aparencia
chuva      5
nublado    3
sol        6
Name: Aparencia, dtype: int64

In [16]:
df_tempo['Temperatura'].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [14]:
mediana = sts.median(df_tempo['Temperatura'])
df_tempo.loc[(df_tempo['Temperatura'] < -130) | (df_tempo['Temperatura'] > 130),'Temperatura'] = mediana

In [15]:
df_tempo.loc[(df_tempo['Temperatura'] < -130) | (df_tempo['Temperatura'] > 130)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [19]:
#umidade
mediana = sts.median(df_tempo['Umidade'])
mediana

85.5

In [21]:
df_tempo['Umidade'].fillna(mediana, inplace=True)
df_tempo['Umidade'].isnull().sum()

0

In [24]:
df_tempo.loc[(df_tempo['Umidade'] < 0) | (df_tempo['Umidade'] > 100),'Umidade'] = mediana

In [25]:
df_tempo.loc[(df_tempo['Umidade'] < 0) | (df_tempo['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [31]:
#jogar
agrupado = df_tempo['Jogar'].groupby(df_tempo['Jogar']).size()
agrupado

Jogar
nao    5
sim    9
Name: Jogar, dtype: int64

In [37]:
#Vento
#df_tempo['Vento'].isnull().sum()
agrupado = df_tempo['Vento'].groupby(df_tempo['Vento']).size()
agrupado

Vento
FALSO         7
VERDADEIRO    6
Name: Vento, dtype: int64

In [40]:
df_tempo['Vento'].fillna('FALSO',inplace = True)
agrupado = df_tempo['Vento'].groupby(df_tempo['Vento']).size()
agrupado

Vento
FALSO         8
VERDADEIRO    6
Name: Vento, dtype: int64